@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  color: var(--foreground);
  /* font-family: "sora"; */
}

.input-styles {
  width: 100%;
  min-width: 0;
  padding: 14px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
  outline: none;
}

.input:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 1px #ef4444;
}

.label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.85);
}

.icon {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 18px;
  height: 18px;
  color: #f87171;
}

.checkbox {
  cursor: pointer;
  background: #ffffff21;
  border-radius: 4px;
  align-items: center;
  gap: 6px;
  padding: 8px;
  font-size: 13px;
  display: flex;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #ef4444;
}

.checkbox:checked,
.checkbox[aria-checked="true"] {
  background-color: red !important;
  /* box-shadow: 0 0 #0000 inset, 0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth) * .1)) inset, 0 1px oklch(0% 0 0 / calc(var(--depth) * .1)); */
}
